<!DOCTYPE html>
<html>
<head>
  <title>Rocket</title>
  <%= stylesheet_link_tag    "rocket/application", media: "all" %>
  <%= javascript_include_tag "rocket/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
